.container {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 20vh;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: "white";
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: "white";
}

.loginBG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #0B2238, #E64D00);
  /* background: url("./assets/login-background.jpg"); */
  background: url("https://images.pexels.com/photos/5717479/pexels-photo-5717479.jpeg?cs=srgb&dl=pexels-polina-kovaleva-5717479.jpg&fm=jpg");
  background-size: cover;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 40vh;
  background-color: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}